/* CSS reset to ensure browser consistency from
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin actual style */

body {
	background-color: white;
}

::selection {
  background: rgba(236,93,87,0.7); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(236,93,87,0.7); /* Gecko Browsers */
}

div.hemmed {
	margin: 0 auto;
	min-width: 1em;
	max-width: 43em;
	font-family: Helvetica, sans-serif;
	line-height: 1.8;
	padding-left: 0.7em;
	padding-right: 0.7em;
	word-wrap: break-word;
}

img#logo {
	position: relative;
	top: 0.27em;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 1.55em;
	line-height: 1.2em;
	margin: 0.15em;
	letter-spacing: 0.04em;
	font-weight: 500;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 0.84em;
	line-height: 1.2em;
	margin: 0.15em;
	letter-spacing: 0.04em;
	font-weight: 500;
}

.orange {
	color: rgba(236,93,87,1);
}

header {
	background-color: black;
}

div#thin {
	height: 0.8em;
	border-bottom: thin solid white;
}

div#top {
	color: white;
	letter-spacing: 0.15em;
	position: relative;
	font-weight: 300;
}

div#bottom {
	text-align: justify;
	background-color: rgba(255,255,255,1);
	color: black;
	background-color: white;
	height: 100%;
	padding-top: 0.3em;
	letter-spacing: 0.03em;
	font-weight: 400;
}

nav {
	position: relative;
	text-align: left;
	line-height: 340%;
	display: inline-block;
	padding-top: 0.6em;
	padding-left: 0.8em;
	z-index: 5;
}

div.navblock {
	position: relative;
	display: inline-block;
}

div.bracketrotate {
	position: absolute;
	bottom: 0.85em;
	left: -1.8em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div#mkblock {
	margin-right: 1em;
}

div#textarea {
	position: relative;
	word-wrap: break-word;
    border: ridge 0.1em;
   	border-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    margin: 1em;
    width: 20em;
    font-weight: 600;
    min-height: 3em;
    overflow: auto;
    display: block;
    text-align: left;
    letter-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.85em;
	width: 75%;
	overflow: visible;
	line-height: 140%;
	padding-right: 5em;
}

div#copied {
	position: absolute;
	font-size: 2em;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: rgba(40,80,173,1);
}

img#docs {
	position: relative;
	top: 0.2em;
}

img#clippy {
	position: absolute;
	margin: auto;
	right: 0.6em;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

a {
	font-size: 1.5em;
	color: rgba(40,80,173,1);
	text-decoration: none;
	line-height: 130%;
}

a.sameline {
	font-size: 1em;
	color: rgba(236,93,87,1);
}

a.nohighlight {
	font-size: 1.1em;
	color: rgba(236,93,87,1);
}

.hover {
	text-decoration: underline;
}

.nohighlighthover {
	color: rgba(40,80,173,1);
}

hr {
	width: 70%;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.oversize {
	font-size: 4em;
}

#intropolis {
	font-size: 2.5em;
}

@media only screen and (max-device-width: 480px) {

	article {
		font-size: 0.9em;
		letter-spacing: 0;
	}

	a {
		font-size: 1em;
	}

	div#top {
		font-weight: 500;
	}

	div#textarea {
		padding-right: 0.5em;
	}

	img#clippy {
		display: none;
	}

}
